*.un~

.ICEauthority
.Skype/
.Xauthority
.Xdefaults
.adobe/
.android/
.bash_history
.bash_login
.bash_logout
.cpan/
.my_bash_locals
.cache/
.config/
.dbus/
.dmrc
.fontconfig/
.fonts/
.fonts.conf.d/
.gconf/
.gitconfig
.gem/
.gnome2/
.googleearth/
.goutputstream-*
.gksu.lock
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.icedtea/
.icons/
.jboss-cli-history
.jin/
.local/
.macromedia/
.mozilla/
.mplayer/
.npm/
.pam_environment
.pki/
.pulse-cookie
.pulse/
.purple/
.rbenv/
.rpmdb/
.rvm/
.rbenv/
.sane/
.scala_history
.scid/
.sylpheed-2.0/
.ssh/
.squirrel-sql/
.thumbnails/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
Biblioteca de calibre/
Descargas/
Escritorio/
Vídeos/
tmp/
work/

ajedrez/
apps/
bitacora/
Documentos/
Imágenes/
Música/
Público/
tmp/
VirtualBox VMs/
oracle/
projects/
src/
tolling/
administrativo/
libros/
musica/
Session.vim

.AbiSuite
.asadminpass
.asadmintruststore
.gegl-0.0
.gimp-2.6
.gradle
.groovy
.irb-history
.inputrc
.libreoffice
.m2
.mysql
.mysqlgui
.mysql_history
.nbi
.netbeans
.netbeans-derby
.qbrowserv2
.recently-used
.sqldeveloper
.subversion
.thumbnails
.thunderbird
.VirtualBox/
.esd_auth
.gnome-commander/
.hplip/
.java/
.vimfuzzyfinder
.winff/
.wine/
.FBReader
.JxBrowser
.apport-ignore.xml
