.ICEauthority
.Skype/
.Xauthority
.Xdefaults
.adobe/
.bash_history
.bash_login
.bash_logout
.cache/
.config/
.dbus/
.dmrc
.fontconfig/
.gconf/
.gem/
.gnome2/
.goutputstream-7QUIEW
.goutputstream-JKQBEW
.gstreamer-0.10/
.gtk-bookmarks
.jin/
.local/
.macromedia/
.mozilla/
.pam_environment
.pki/
.pulse-cookie
.pulse/
.purple/
.rvm/
.scala_history
.thumbnails/
.vim.old/
.vim/
.viminfo
.xscreensaver
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
Biblioteca de calibre/
Descargas/
Escritorio/
Vídeos/
tmp/
